<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div class="igamt-home">
    <div  style="margin-bottom: 20px">
        <!--<div class="row">-->
        <!--<div class="panel panel-info">-->
        <!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
        <!--<div class="panel-heading">-->
        <!--<i class="glyphicon glyphicon-list"></i><b> Welcome to the Implementation Guide Authoring and-->
        <!--Management Tool (IGAMT)</b>-->
        <!--</div>-->
        <!--<div class="panel-body">-->
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 20px">
                <div clas="page-header">
                    <div class="header5">
                        <span class="pull-left">
                        Welcome to the Implementation Guide Authoring and
                        Management Tool (IGAMT)
                        </span>
                        <span class="pull-right">
                                <!--<button title="Login" ng-show="!isAuthenticated()" type="button" class="btn btn-raised btn-md btn-success"-->
                                        <!--ng-click="loginReq()">-->
                                    <!---->
                                <!--</button>-->

                            <md-button title="Login"  class="md-raised md-primary igl-md-button-green" ng-click="loginReq()" ng-show="!isAuthenticated()" type="button" ><span><i
                                    class="fa fa-user"></i> Login</span></md-button>


                                </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <md-toolbar>
                    <div class="md-toolbar-tools home-page-toolbar">
                        <h2 class="md-flex">Note to Users</h2>
                    </div>
                </md-toolbar>

                <md-content flex layout-padding class="home-page-panel" md-whiteframe>
                    <div class="home-page-panel-content">
                        <p style="text-align:justify">
                            The NIST Implementation Guide Authoring and Management Tool (IGAMT) is part of the NIST HL7 v2 Standards Development and Testing Platform. IGAMT is a tool used to create HL7 v2.x implementation guides that contain one or more conformance profiles. The tool provides capabilities to create both narrative text (similar to a word processing program) and messaging requirements in a structured environment. IGAMT contains a model of all the message events for every version of the HL7 v2 standard. Users begin by selecting the version of the HL7 v2 standard and the message events they want to include and refine (constrain) in their implementation guide.
                        </p>
<!--                        <p style="color:red; font-weight: bold;text-align:justify">-->
<!--                            IGAMT is a work-in-progress and is in a constant state of change. Many core features exist and IGAMT has been used to create complete Implementation Guides in pilot projects. However, be aware that new features may not be completely functionality and some existing features will change. Also, we are currently working on integration with the NIST validation tool. If you have issues, please contact us or join the IGAMT Google Group to post questions.-->
<!--                        </p>-->
                    </div>
                </md-content>
            </div>

            <div class="col-md-4">
                <md-toolbar class="">
                    <div class="md-toolbar-tools home-page-toolbar">
                        <h2 class="md-flex">Have a Question?</h2>
                    </div>
                </md-toolbar>
                <md-content flex layout-padding class="home-page-panel" md-whiteframe>
                    <div class="home-page-panel-content">
                        <p style="text-align: justify;">A Google Group <a class="point"
                                                                       ng-href="https://groups.google.com/forum/#!forum/nist-igamt"
                                                                       target="_blank">NIST-IGAMT</a>
                            has been established for discussion/questions about the tool. No
                            membership is required. A Google account is required for posting.</p>
                        <ul>
                            <li>Site: <a class="point" target="_blank"
                                         ng-href="https://groups.google.com/forum/#!forum/nist-igamt">https://groups.google.com/forum/#!forum/nist-igamt</a>
                            </li>
                            <li>Email: nist-igamt@googlegroups.com</li>
                        </ul>
                    </div>
                </md-content>
            </div>

            <div class="col-md-4">
                <md-toolbar class="">
                    <div class="md-toolbar-tools home-page-toolbar">
                        <h2 class="md-flex">Supported Browsers</h2>
                    </div>
                </md-toolbar>

                <md-content flex layout-padding class="home-page-panel" md-whiteframe>
                    <div class="home-page-panel-content">
                        <p style="text-align: justify">The following browsers are supported:
                        <ul>
                            <li>Chrome <span style="color:red">(Recommended)</span></li>
                            <li>Firefox <span style="color:red"></span></li>
                            <li>Safari</li>
                        </ul>
                        </p>

                    </div>
                </md-content>
            </div>

        </div>
    </div>

    <div class="row" style="margin-top: 5px;">
        <div class="col-md-12">
            <md-content flex layout-padding  md-whiteframe>

                <div style="display: flex; flex-direction: row">
                    <div style="width: 70%" style="display: flex; justify-content: center; flex-direction: column">
                        <div style="display: flex; flex-direction: column; justify-content: center;">
                            <img style="width:90%"  srcset="./images/framework.png"/>
                        </div>
                    </div>
                    <div style="width: 30%">

                        <strong>NIST HL7 v2 Standards Development and Testing Platform consists of:</strong>
                        <ul>
                            <li> <strong>Implementation Guide Authoring & Management Tool (IGAMT): </strong> is a profiling tool used to create HL7 v2.x implementation guides; output of IGAMT includes machine-computable artifacts used to (1) generate validation tools for Context-free Testing in GVT (2) generate profiles that are imported into TCAMT for development of Test Cases used for Context-based Testing in GVT</li>
                            <li> <strong>Test Case Authoring & Management Tool (TCAMT):</strong> is used to create scenario-based Test Cases to support Context-based Testing; machine-computable artifacts from IGAMT are imported into TCAMT and serve as the basis for creating the Test Cases </li> 
                            <li> <strong> General Validation Tool (GVT):</strong> utilizes artifacts developed in IGAMT for Context-free Testing and in TCAMT for Context-based Testing </li>
                            <ul>  <li> <strong>Context-free Testing:</strong> provides validation of an HL7 v2 message based on the technical requirements defined in a conformance profile</li>
                                <li> <strong>  Context-based Testing:</strong> provides validation of an HL7 v2 message based on the technical requirements defined in a conformance profile and with a provided context. The context is provided through the means of a directed test case. Context-based testing expands the scope of testing</li>
                        </ul>
                        </ul>
                    </div>

                </div>
            </md-content>
        </div>
    </div>









    <!-- Three columns of text below the carousel -->
    <div class="row" style="text-align: center; margin-top: 20px">
        <div class="col-md-3" style="width:25%">
            <!--<a style="border:0px" class="btn btn-default" href="#/registration" role="button">-->
                <!--<p>-->
                            <!--<span style="margin-top:5px" class="btn btn-raised btn-info btn-lg" role="button"><i-->
                                    <!--class="fa fa-user fa-fw"></i>&nbsp; Create an Account</span>-->
                <!--</p>-->
            <!--</a>-->
            <md-button title="About"  class="md-raised md-primary igl-md-button-blue" type="button" ng-click="goNav('/registration')">
                <i
                        class="fa fa-user fa-fw"></i>&nbsp; Create an Account

            </md-button>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-md-3" style="width:25%">
            <!--<a style="border:0px" class="btn btn-default" href="#/ig" role="button">-->
                <!--<p><span style="margin-top:5px" class="btn btn-raised btn-info btn-lg" role="button"><i-->
                        <!--class="fa fa-book fa-fw"></i>&nbsp;IG Documents</span>-->
                <!--</p>-->
            <!--</a>-->
            <md-button title="About"  class="md-raised md-primary igl-md-button-blue" type="button" ng-click="goNav('/ig')">
                <i
                        class="fa fa-book fa-fw"></i>&nbsp;IG Documents

            </md-button>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-md-3" style="width:25%">
            <!--<a style="border:0px" style="border:0px" class="btn btn-default" href="#/issue" role="button">-->
                <!--<p><span style="margin-top:5px" class="btn btn-raised btn-info btn-lg" role="button"><i-->
                        <!--class="fa fa-question fa-fw"></i>&nbsp;Issue</span>-->
                <!--</p>-->
            <!--</a>-->
            <md-button title="About"  class="md-raised md-primary igl-md-button-blue" type="button" ng-click="goNav('/issue')">
                <i
                        class="fa fa-question fa-fw"></i>&nbsp;Issue

            </md-button>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-md-3" style="width:25%">
            <!--<a style="border:0px" class="btn btn-default" href="#/about" role="button">-->
                <!--<p><span style="margin-top:5px" class="btn btn-raised btn-info btn-lg" role="button"><i-->
                        <!--class="fa fa-info fa-fw"></i>&nbsp;About</span>-->
                <!--</p>-->
            <!--</a>-->

            <md-button title="About"  class="md-raised md-primary igl-md-button-blue" type="button" ng-click="goNav('/about')">
                <i
                        class="fa fa-info fa-fw"></i>&nbsp;About

            </md-button>


        </div>
    </div>
    <!-- /.row -->
</div>


<br/>
<br/>
<br/>

